.ui-anglepicker {
	width: 52px;
	height: 52px;

	border: 1px solid #999;

	border-radius: 50%;
	position: relative;
	display: inline-block;
}

.ui-anglepicker-pointer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;

	margin: -2px 0 0 -2px;
	-moz-transform-origin: 2px 2px;
	-webkit-transform-origin: 2px 2px;
	-ms-transform-origin: 2px 2px;
	-o-transform-origin: 2px 2px;
	transform-origin: 2px 2px;
}

.ui-anglepicker:hover, .ui-anglepicker.ui-anglepicker-dragging {
	border-color: #494949;
}

.ui-anglepicker-dragging .ui-anglepicker-dot, .ui-anglepicker-dragging .ui-anglepicker-line,
.ui-anglepicker:hover .ui-anglepicker-dot, .ui-anglepicker:hover .ui-anglepicker-line {
	background: #494949;
}

.ui-anglepicker-dot {
	height: 4px;
	width: 4px;
	position: absolute;
	background: #838383;
	border-radius: 50%;
}

.ui-anglepicker-line {
	margin-right: -2px;
	height: 1px;
	background: #838383;
	-webkit-transform: translateY(1.5px);
	-ms-transform: translateY(1.5px);
	transform: translateY(1.5px);
}
